{% extends 'base.html' %}
{% block title %}Delete student{% endblock title %}
{% block content %}
   {% if errors %}
   <div>
        <h1 style="color:red;">{{ errors }}</h1>
   </div>
   {% else %}
      <form action="" method="POST">
        {% csrf_token %}
        <div class="center">
            <p>are you want to delete {{ student.name}} 's record?</p>

        </div> 
        <button type="submit">
            delete
        </button>
        <div class="button-div">
        <a href="{% url 'display' %}">cancel</a>
        </div>
    </form>
    {% endif %}
{% endblock content %}