{% extends 'base.html' %}
{% block title %}STUDENT{% endblock title%}
{% block content %}
   <table border="5">
    <tr>
        <th>sl no</th>
        <th>name</th>
        <th>roll no</th>
        <th>marks</th>
        <th>course</th>
        <th>address</th>
        <th>actions</th>

    </tr>

    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ forloop.counter }}</td>
             <td>{{ student.name }}</td>
              <td>{{ student.rollno }}</td>
              <td>{{ student.marks }}</td>
              <td>{{ student.course }}</td>
              <td>{{ student.address }}</td>
              <td>
                
                <a href="{% url 'update' student.id %}">update</a>
                <a href="{% url 'delete' student.id %}">delete</a>
              </td>
              
        </tr>
        {% endfor %}
    </tbody>
   </table>
{% endblock content %}