{% extends "base.html" %}
{% block title%}{{ title }}{% endblock title %}
{% block content %}
   <h1>{{ title }}record</h1>
   <hr>
   <div>
      {% if errors %}
         <h1 style="color:red">{{ errors }}</h1>
      {% else %}
         <form action="" method="POST">
          {% csrf_token %}
        <label for="">name:</label>
        <input type="text" name="name" value="{{ student.name }}" required>
        <br><br>

        <label for="">rollno:</label>
        <input type="number" name="rollno" value="{{ student.rollno }}" required>
        <br><br>

        <label for="">marks:</label>
        <input type="number" name="marks" value="{{ student.marks }}" required>
        <br><br>

        <label for="">address:</label>
         <textarea name="address" required>{{ student.address }}</textarea>
        <br><br>

        <label for="">course :</label>
        <select name="course">
            <option value="">----select course----</option>
            <option value="jfs" {% if student.course == 'jfs'%}selected{% endif %}>java full stack</option>
            <option value="pfs" {% if student.course == 'pfs'%}selected{% endif %}>python full stack</option>
            <option value="mern" {% if student.course == 'mern'%}selected{% endif %}>mern full stack</option>
            <option value="ai/ml" {% if student.course == 'ai/ml'%}selected{% endif %}>artificial intelligence machine learning</option>
        </select>
        <br><br>

        <button type="submit">update student</button>
         {% if errors %}
            <p style="color:red">{{ errors }}</p>
         {% endif %}
     </form>

      {% endif %}
      
   </div>
{% endblock content%}